@{
	ViewData["Title"] = "Login";
	Layout = null;
}

<html lang="tr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Alışveriş Listesi Uygulaması</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Bitirme_Projesi.styles.css" asp-append-version="true" />
</head>
<body>

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form method="Post" asp-controller="Account" asp-action="Index">
			<h3>Hesap Oluştur</h3>		
			
			<input type="text" placeholder="İsim" required="required" />
			<input type="text" placeholder="Soyisim" required="required" />
			<input type="email" placeholder="Email" required="required" />
			<input type="password" id="password" placeholder="Şifre" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Min 8 karakter büyük küçük harf ve rakam içermelidir" />
			<input type="password" id="confirm_password" placeholder="Yeniden Sifre" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Min 8 karakter büyük küçük harf ve rakam içermelidir" />
			<input type="submit" value="Login"/>
			
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form method="Post" asp-controller="Account" asp-action="Index">
			<h1>Giriş Yap</h1>			
			<span>veya hesap oluştur</span>
			<input type="email" placeholder="Email" name="Username"/>
			<input type="password" placeholder="Password" name="Password" />			
			<button type="submit">Giriş Yap</button>
	 </form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Hesabınız Var Mı?</h1>
				<p>Butona tıklayarak giriş yapabilirsiniz</p>
				<button class="ghost" id="signIn">Giriş Yap</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Merhaba!</h1>
				<p>Devam etmek için lütfen kayıt olunuz!</p>
				<button class="ghost" id="signUp">Kayıt Ol</button>
			</div>
		</div>
	</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>