
@using Bitirme_Projesi.Entities
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Common

@model IPagedList<Product>
<link rel="stylesheet" href="~/css/PagedList.css" />


@section _Categories{
    <div class="col-3 fs-6">
        @await Component.InvokeAsync("Categories")

        <div class="bg-success mt-3 p-3 text-white">
        @* <vc:small-cart />*@
        @await Component.InvokeAsync("SmallCart")
         </div>
 </div>
}
<div class="row">
	
	  @foreach (var product in Model)
    {          
         <div class="col-3">

            <div class="card mb-5" >
                <div class="card-header">
                    <h6 class="my-0 font-weight-normal">
                        <label style="font-size: 15px;color: steelblue">@product.ProductName</label>
                    </h6>
                </div>

                <img src="~/@product.Image" alt="Card Image" class="card-img-top" style="min-height:200px; max-height:200px" />
              
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label style="font-size: 15px;color: #a51313"><b>Fiyatı : @product.UnitPrice.ToString("C2")</b></label>
                        </div>
                        <a asp-action="Detail" asp-controller="Home" asp-route-id="@product.ProductId" class="btn btn-success pull-right btn-outline-info fs-6">Ürüne Git</a>
                    </div>
               
                </div>   
             </div> 
	  </div>
     }
   
  </div>
<div>
    @Html.PagedListPager((IPagedList)Model,page=> Url.Action("Index",new{page}),new PagedListRenderOptionsBase(){DisplayLinkToFirstPage =PagedListDisplayMode.Always})
</div> 

@section _Search{
    
    <form method="post" asp-action="Index" class="d-flex justify-content-between align-items-center fs-6" >
    <li class="nav-item">
        <input type="search" name="ProductName" placeholder="ürün ara.." class="nav-link text-dark ms-5" />
    </li>
    <li class="nav-item">
        <button type="submit" class="btn btn-primary" name="search" style="min-height:42px;float:left">Ara</button>      
    </li>
    </form>
}
